* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.container-x {
    max-width: 1152px;
    margin: 0 auto;
}

.flexer h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 60px;
}

nav {
    display: flex;
    justify-content: right;
    margin-right: 60px;

}

nav h3 {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    text-align: right; 
    padding-top: 29px;     
    margin-left: 33px;
}


.person-resize {
    width: 250px;
    height: 250px;
    margin-top: 100px;
}

.header-content {
    width: 497px;
    margin-top: 180px;
}

.header-content h1 {
    font-family: sans-serif;
    color: #21243D;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
}

.header-content p {
    line-height: 24px;
    color: #21243D;
    margin: 40px 0;
}

.red-btn {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #FF6464;
    color: #fff;
    border-radius: 2px;
    border: none;
}


.header-container {
    max-width: 856px;
    margin: 0 auto;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* main */

main {
    background-color: #EDF7FA;
    margin-top: 70px;   
    padding-bottom: 32px;
}

.flexer {
    display: flex;
    padding: 24px 0px;
}

.box {
    display: flex;
    justify-content: space-between;
}

.block {
    background-color: #fff;
    width: 374px;
    padding: 20px 24px;
}

.block p {
    width: 368px;
    line-height: 20px;
    font-weight: 400;
    color: #21243D;
}

.block h1 {
    color: #21243D;
    font-size: 26px;
    font-weight: 400;
    width: 374px; 
    line-height: 38px;
    margin-bottom: 17px;
}

.block h5 {
    color: #21243D;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 12px;
}

.flexer2 {
    display: flex;
}

/* main2 */
.main2 {
    max-width: 856px;
    margin: 0 auto;
}

.main2 h3 {
    color: #21243D;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    margin-bottom: 22px;
    margin-top: 15px;
}

.block2 {
    display: flex;
    margin-bottom: 36px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 15px;
}

.block2 h1 {
    color: #21243D;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 16px;
}

.date {
    font-weight: 900;
    font-size: 18px;
    width: 62px;
    height: 25px;
    padding: 3px 5px;
    color: #fff;
    background-color: #142850;
    width: 50px;
    border-radius: 16px;
}


.block2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    width: 554px;   
    margin-top: 17px;
}

.flex {
    display: flex;
    align-items: center;
}

.gray {
    color: #8695A4;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-left: 32px;
}

.block2-content {
    margin-left: 18px;
}

/* footer */
footer {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 20px;
}

footer img {
    margin-bottom: 26px;
    margin: 0 17px 26px 17px ;
}


.menu {
    display: none;
}

footer p {
    font-weight: 400;
    font-size: 14px;
    color: #21243D;
}

/* media */
@media (max-width: 600px) {
    nav h3 {
        display: none;
    }
    .menu {
        display: inline-block;
    }

    nav {
        margin: 20px;

    }

    header {
        flex-direction: column-reverse;
        margin-top: -100px;  
        width: 70%;  
    }
    .block2-content img {
        width: 450px;
    }

    .header-content {
        max-width: 100%;
        margin: auto;
        text-align: center;
    }



    .box {
        flex-direction: column;
    }

    .block {
        margin-bottom: 20px;
        max-width: 490px;
        margin: 10px auto;

    }

    .block2-content p {
        width: 380px;
    }

    .block2 {
        flex-direction: column;
        width: 400px;
        margin: 20px auto;
    }

    .block2-content {
        margin-top: 20px;
    }

    .main2 h3 {
        margin: 15px auto;
        text-align: center;
    }

    .view-none {
        display: none;
    }

    .flexer h3 {
        text-align: center;
        margin: 0 auto;
        padding: 0 0 5px 0;

    }
}